blis==0.2.4
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
ChatterBot==1.0.5
chatterbot-corpus==1.2.0
click==7.1.1
cymem==2.0.3
decorator==4.4.2
future==0.18.2
geocoder==1.38.1
google-api-core==1.17.0
google-auth==1.14.1
google-cloud-speech>=2.14.1
googleapis-common-protos==1.51.0
grpcio==1.28.1
idna==2.9
joblib==0.14.1
mathparse==0.1.2
murmurhash==1.0.2
nltk==3.6.6
numpy==1.18.3
Pint==0.11
plac==0.9.6
playsound==1.2.2
preshed==2.0.1
protobuf==3.15.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pymongo==3.10.1
python-dateutil==2.7.5
pytz==2019.3
PyYAML==5.1.2
quantulum3==0.7.6
rake-nltk==1.0.4
ratelim==0.1.6
regex==2020.4.4
requests==2.23.0
rsa==4.7
six==1.14.0
scikit-learn
spacy==2.1.9
SQLAlchemy==1.2.19
srsly==1.0.2
thinc==7.0.8
tqdm==4.45.0
urllib3==1.26.5
wasabi==0.6.0

openai
pandas
